<!DOCTYPE html>
<html lang="zh-CN" ng-app="mainApp">
<head>
  <meta charset="utf-8">
  <title>So What</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/css/bootstrap.css">
</head>
<body class="sowhat">
  <div role="navigation" class="main-top">
    <div class="top-wrapper" id="top-inner">
      <a href="#/home" class="top-link-logo">so what</a>
      <div role="search" class="top-search">
        <form method="GET" class="top-search-form">
          <input type="text" class="top-search-input" id="q" name="q" value="" placeholder="搜索问题">
          <button type="submit" class="top-search-button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </form>
        <button class="top-add-question" id="top-add-question">提问</button>
      </div>
      <div class="top-nav">
        <ul class="top-nav-ul">
          <li class="top-nav-li" id="top-nav-home">
            <a class="top-nav-link" href="#/home">首页</a>
          </li>
          <li class="top-nav-li" id="top-nav-people">
            <a class="top-nav-link" href="#/people">个人中心</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
      
  <div class="sw-main" role="main">

  <div ng-view></div>
  
  <div class="model-dialog" id="model-dialog" tabindex="0" role="dialog" ng-controller="askCtrl" >
    <div class="model-dialog-title">
      <span class="model-dialog-title-text">提问</span>
      <span class="model-dialog-title-close" id="model-dialog-title-close"></span>
    </div>
    <div class="model-dialog-content">
      <div class="add-question-page">
        <form class="add-question-form">
          <div class="question-form-top">
            <div class="sw-form-text-input">
              <textarea class="sw-editor-input" ng-model="q.title" placeholder="写下你的问题" contenteditable="true"></textarea>
            </div>
          </div>
          <div class="question-form-middle">
            <div class="question-form-middle-title">
              问题说明：
            </div>
            <div class="question-form-middle-detail">
              <div class="question-form-middle-detail-wrapper">
                <div class="question-form-middle-detail-outer">
                  <div class="sw-editable-editor-field-wrap">
                    <textarea class="sw-editable-editor-field" ng-model="q.content" contenteditable="true"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="question-form-bottom">
          </div>
          <div class="question-form-cmd">
            <button class="question-button" ng-click="askquestion(q)">发布</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="../angular/angular.min.js"></script>
  <script src="../angular/angular-route.js"></script>
  <script src="../angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/popup.js"></script>

</body>
</html>
